* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
}

body {
  width: 100vw;
  overflow-x: hidden !important;
}

h1 {
  font-size: 76px;
  font-weight: 700;
}

h2 {
  font-size: 56px;
  font-weight: 600;
}

h3 {
  font-size: 36px;
  font-weight: 500;
}

p {
  font-size: 20px;
  font-weight: 400;
}

.hidden {
  display: none !important;
}

.pro_container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#bannerOverlay {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}
#bannerOverlay .textCon {
  width: 100%;
  max-width: 650px;
  text-align: center;
  color: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}
#bannerOverlay .icon {
  width: 20%;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "EB Garamond", serif;
  text-align: center;
  position: relative;
}
main #headervideo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .mainTextWarper {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 1000px;
  text-transform: uppercase;
  position: absolute;
}
main .globe {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 8;
}
main .globeTxt {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 8;
}

#mouse-tracker {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  background: #cccccc;
  border-radius: 50%;
  mix-blend-mode: difference;
  z-index: 1000;
  transition: 0.2s all linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toTop {
  width: 200px;
  height: 200px;
  position: fixed;
  bottom: 100px;
  right: 100px;
  border: 2px dotted #ff29d1;
  border-radius: 50%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all linear;
}

.toTop:hover {
  background-color: rgba(238, 255, 0, 0.8352941176);
  cursor: pointer;
}

#sectionsection2 {
  width: 100%;
  height: 100vh;
  background: url("../media/image/distress.webp");
  background-size: cover;
  color: #fff;
}
#sectionsection2 .section2Wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.075);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#sectionsection2 .section2Wrapper .pro_container .section2Nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#sectionsection2 .section2Wrapper .pro_container .section2Nav .section2NavItem h3 {
  text-transform: uppercase;
}
#sectionsection2 .section2Wrapper .pro_container .section2TextContent {
  width: 100%;
  height: 100%;
  min-height: 350px;
  padding-top: 40px;
  text-align: center;
}
#sectionsection2 .section2Wrapper .floatingimageBox {
  width: 100px;
  height: 100px;
  position: absolute;
  background-image: url("../../img.jpeg");
  background-position: center center;
  background-size: cover;
  border-radius: 5%;
  z-index: 10;
}
#sectionsection2 .section2Wrapper .leftTop {
  top: 100px;
  left: 100px;
}
#sectionsection2 .section2Wrapper .topRight {
  top: 100px;
  right: 100px;
}
#sectionsection2 .section2Wrapper .rightBottom {
  bottom: 100px;
  right: 100px;
}
#sectionsection2 .section2Wrapper .bottomLeft {
  bottom: 100px;
  left: 100px;
}

#sectionsection3 {
  width: 100%;
  min-height: 100vh;
  padding: 70px 0;
  background: url("../media/image/distress.webp");
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#sectionsection3 .movingHeading {
  padding: 10px 20px;
  border: 1px solid #e6e6e6;
  z-index: 1000;
  font-family: "Bebas Neue", sans-serif;
}
#sectionsection3 .text1 {
  transform: translateX(-90%) rotate(-6deg);
  background-color: #e6e6e6;
}
#sectionsection3 .text2 {
  transform: translateX(80%) rotate(6deg);
  background-color: #eff305;
}
#sectionsection3 .text3 {
  transform: translateX(-70%);
  background-color: #20ff02;
}
#sectionsection3 .text4 {
  transform: translateX(90%) rotate(5deg);
  background-color: #01e8f0;
}
#sectionsection3 .text5 {
  transform: translateX(-85%) rotate(-5deg);
  background-color: #fc0bab;
}
#sectionsection3 .text6 {
  transform: translateX(70%);
  background-color: #283eff;
}
#sectionsection3 .bigTexContainer {
  padding: 50px 0;
}
#sectionsection3 .bigTexContainer .bigText {
  font-size: 10rem;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  opacity: 0;
  color: #fff;
}

#sectionsection4 {
  width: 100%;
  height: 100vh;
  background: url("../media/image/distress.webp");
  background-size: cover;
}
#sectionsection4 .bigTexContainer {
  padding: 50px 0;
  width: 100%;
  height: 100%;
}
#sectionsection4 .bigTexContainer .bigText {
  font-size: 10rem;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  opacity: 0;
  color: #fff;
}

#horizontalBtnSection {
  width: 100%;
  padding: 40px 0;
}
#horizontalBtnSection .testBtn {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.5058823529);
  padding: 10px 30px;
  font-size: 24px;
  border: 1px solid gray;
  position: relative;
  overflow: hidden;
}
#horizontalBtnSection .testBtn:after {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: 50px;
  height: 50px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s ease;
}
#horizontalBtnSection .testBtn:hover::after {
  width: 500px;
  height: 500px;
  opacity: 1;
  color: #fff;
}
#horizontalBtnSection .testBtn:hover span {
  z-index: 999;
  color: white;
  position: relative;
}

.closebtn {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: red;
  color: white;
  font-size: 20px;
  z-index: 1000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sectionsection5 {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: rgb(0, 0, 0);
  display: none;
}
#sectionsection5 #section5Wrapoper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  position: relative;
}
#sectionsection5 #section5Wrapoper .horizontalScrollItem {
  display: inline-block;
  width: 70vw;
  height: 100%;
  background-color: #221e1e;
  margin-right: 20px;
  vertical-align: top;
}
#sectionsection5 #section5Wrapoper .horizontalScrollItem h2 {
  font-size: 50px;
  color: #fc11c1;
  text-align: center;
  margin-top: 40px;
  font-family: sans-serif;
}

#section6 {
  width: 100%;
  height: 100vh;
  background: #000000 url("../media/image/download.png");
  background-size: 100% 100%;
  background-position: center center;
  animation: bgAnim 5s linear infinite alternate;
}
#section6 #section6Wrapper {
  width: 100%;
  height: 100%;
}
#section6 #section6Wrapper .mainContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
#section6 #section6Wrapper .mainContent .proRow {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  color: #ffffff;
}

@keyframes bgAnim {
  from {
    background-size: 100% 100%;
  }
  to {
    background-size: 150% 250%;
  }
}
#section7 {
  width: 100%;
  height: 100vh;
  background-color: #00ff4c;
}
#section7 #section7video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#section8 {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: rgb(0, 0, 0);
  display: none;
}
#section8 #section8Wrapoper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  position: relative;
}
#section8 #section8Wrapoper .horizontalScrollItem8 {
  display: inline-block;
  width: 70vw;
  height: 100%;
  background-color: #8d8d8d;
  margin-right: 20px;
  vertical-align: top;
}
#section8 #section8Wrapoper .horizontalScrollItem8 h2 {
  font-size: 50px;
  color: #fc11c1;
  text-align: center;
  margin-top: 40px;
  font-family: sans-serif;
}

footer {
  width: 100vw;
  height: 100vh;
  position: relative;
}
footer video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .abTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 400px;
  font-size: 56px;
  color: white;
  background-color: transparent;
  text-align: center;
  transform: translate(-50%, -50%);
}
footer .glitch {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%) scale(1);
  background-color: transparent;
  mix-blend-mode: difference;
}
footer .glitch:nth-child(3) {
  background-color: rgba(255, 0, 0, 0.137254902);
  transform: translate(-50%, -50%) scale(1);
  mix-blend-mode: exclusion;
}
footer .glitch:nth-child(4) {
  background-color: rgba(255, 230, 0, 0.0470588235);
  transform: translate(-50%, -50%) scale(1.01);
  mix-blend-mode: screen;
}
footer .glitch:nth-child(5) {
  background-color: rgba(12, 58, 0, 0.2);
  transform: translate(-50%, -50%) scale(1.015);
  mix-blend-mode: lighten;
}
footer .glitch:nth-child(6) {
  background-color: rgba(0, 195, 255, 0.1176470588);
  transform: translate(-50%, -50%) scale(1.02);
  mix-blend-mode: difference;
}
footer .glitch:nth-child(7) {
  background-color: rgba(75, 1, 59, 0.1215686275);
  transform: translate(-50%, -50%) scale(1.02);
  mix-blend-mode: difference;
}
footer .glitch:nth-child(8) {
  background-color: rgba(0, 46, 2, 0);
  transform: translate(-50%, -50%) scale(1.02);
}/*# sourceMappingURL=style.css.map */